<form action="/" method="get" class="username">
  <input type="text" name="username" placeholder="@handle"/>
  <input type="submit" value="Get Tweets Now!!!"/>
</form>
<div class='errors'>Invalid handle</div>

<img id="loading" src=''></img>

<div class="tweets"></div>
