<form action="/" method="get" class="username">
  <input type="text" name="username" placeholder="@handle"/>
  <input type="submit" value="Get Tweets Now!!!"/>
</form>
<form action='#' method='#' class='search-term'>
  <input type="text" name="keyword" placeholder="keyword"/>
  <input type="submit" value="Search Keyword!!!"/>
</form>
<div class='errors'></div>


<img id="loading" src=''></img>

<div class="tweets"></div>
